{% extends 'events/base.html' %}

{% block content %}
	
	<h1>Login</h1>
<br/>


		<form action="" method=POST>
			{% csrf_token %}

		<form>
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
    
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" name="password">
  </div>
  


			

			<input type="submit" value="Submit" class="btn btn-secondary">

		</form>
		

<br/><br/>	

<body style="background-image: url('https://images.pexels.com/photos/1708936/pexels-photo-1708936.jpeg'); background-repeat: no-repeat; background-position: center center; height: 100vh; background-size: cover;"></body>

{% endblock %}